@page
@model ServerSide1_KontaktBogEksempel.Pages.NewContactModel

<h1>Ny kontakt</h1>

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
      <label for="Name">Navn</label>
      <input type="text" asp-for="Contact.Name" class="form-control" id="Name" placeholder="Indtast navn">
    </div>
    <div class="form-group">
      <label for="Email">Email</label>
      <input type="email" asp-for="Contact.Email" class="form-control" id="Email" placeholder="Indtast email">
    </div>
    <div class="form-group">
        <label for="Phone">Telefon</label>
        <input type="tel" asp-for="Contact.Phone"  class="form-control" id="Phone" placeholder="Indtast Telefonnummer">
    </div>
    <div class="form-group">
        <label for="Address">Adresse</label>
        <input type="text" asp-for="Contact.Address" class="form-control" id="Address" placeholder="Optionel">
    </div>
    <div class="form-group">
        <label for="City">By</label>
        <input type="text" asp-for="Contact.City" class="form-control" id="City" placeholder="Optionel">
    </div>
    <div class="form-group">
        <label for="Description">Beskrivelse</label>
        <textarea asp-for="Contact.Description" class="form-control" id="Description" rows="3" placeholder="Optionel"></textarea>
    </div>
    <div class="form-group">
        <label for="Image">KontaktBillede</label>
        <input type="file" class="form-control-file" name="ContactPicture" id="Image">
    </div>
  <button type="submit" class="btn btn-primary">Gem</button>
</form>

