@model List<ContactInfo>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Navn</th>
            <th scope="col">Email</th>
            <th scope="col">Mobil</th>
        </tr>
    </thead>
    <tbody>
        @foreach (ContactInfo contact in Model)
        {
            @Html.Partial("ContactListElement",contact)
        }
    </tbody>
</table>


